@import "tailwindcss";

:root {
  --background: #F3F4F6;
  /* Light gray background */
  --foreground: #0f172a;
  /* Slate 900 for default text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}